<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">


	<!-- Transaction Manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactoryBean"></property>
	</bean>

	<!-- Para que lea los metodos anotados con @Transactional -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- Beans de conexion NUEVOS -->
	<bean id="serviceUsuarioBeanX" class="frgp.utn.edu.ar.servicioImpl.UsuarioServiceImplX">
		<property name="dataAccess" ref="dataAccessBeanUsuarioX"></property>
	</bean>
	
	<bean id="dataAccessBeanUsuarioX" class="frgp.utn.edu.ar.daoImpl.UsuarioDAOImplX" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>

	<!-- Service/DAO: TipoUsuario -->
	<bean id="serviceTipoUsuario" class="frgp.utn.edu.ar.servicioImpl.TipoUsuarioServiceImpl">
		<property name="dataAccess" ref="dataAccessTipoUsuario"></property>
	</bean>
	<bean id="dataAccessTipoUsuario" class="frgp.utn.edu.ar.daoImpl.TipoUsuarioDAOImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>

	<!-- Service/DAO: TipoPeriodo -->
	<bean id="serviceTipoPeriodo" class="frgp.utn.edu.ar.servicioImpl.TipoPeriodoServiceImpl">
		<property name="dataAccess" ref="dataAccessTipoPeriodo"></property>
	</bean>
	<bean id="dataAccessTipoPeriodo" class="frgp.utn.edu.ar.daoImpl.TipoPeriodoDAOImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>

	<!-- Service/DAO: Curso -->
	<bean id="serviceCurso" class="frgp.utn.edu.ar.servicioImpl.CursoServiceImpl">
		<property name="dataAccess" ref="dataAccessCurso"></property>
	</bean>
	<bean id="dataAccessCurso" class="frgp.utn.edu.ar.daoImpl.CursoDAOImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>

	<!-- Service/DAO: TipoExamen -->
	<bean id="serviceTipoExamen" class="frgp.utn.edu.ar.servicioImpl.TipoExamenServiceImpl">
		<property name="dataAccess" ref="dataAccessTipoExamen"></property>
	</bean>
	<bean id="dataAccessTipoExamen" class="frgp.utn.edu.ar.daoImpl.TipoExamenDAOImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>

	<!-- Beans de conexion -->
	<bean id="serviceUsuarioBean" class="frgp.utn.edu.ar.servicioImpl.UsuarioServicioImpl">
		<property name="dataAccess" ref="dataAccessBeanUsuario"></property>
	</bean>
	
	<bean id="dataAccessBeanUsuario" class="frgp.utn.edu.ar.daoImpl.UsuarioDaoImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
	
	<bean id="serviceProductoBean" class="frgp.utn.edu.ar.servicioImpl.ProductoServicioImpl">
		<property name="dataAccess" ref="dataAccessBeanProducto"></property>
	</bean>	


	<bean id="dataAccessBeanProducto" class="frgp.utn.edu.ar.daoImpl.ProductoDaoImpl" 
			scope="singleton"> 
			<property name="sessionFactory" ref="sessionFactoryBean"></property> 
		</bean>

	
		<bean id="serviceTipoProductoBean" class="frgp.utn.edu.ar.servicioImpl.TipoProductoServicioImpl">
		<property name="dataAccess" ref="dataAccessBeanTipoProducto"></property>
	</bean>	


	<bean id="dataAccessBeanTipoProducto" class="frgp.utn.edu.ar.daoImpl.TipoProductoDaoImpl" 
			scope="singleton"> 
			<property name="sessionFactory" ref="sessionFactoryBean"></property> 
		</bean>
	



	<!-- Define un dataSource, en este bean se configura los parametros de la db -->
	<bean id="dataSourceBean"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/EjemploProgAvanzadaII?createDatabaseIfNotExist=true" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- Session factory de Hibernate -->
	<bean id="sessionFactoryBean"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceBean" />

		<!-- En esta propiedad deberian agregarse todas las clases anotadas con JPA. -->
		<property name="annotatedClasses">
			<list>
				<value>frgp.utn.edu.ar.dominio.Usuarios</value>
				<value>frgp.utn.edu.ar.dominio.TipoProducto</value>
				<value>frgp.utn.edu.ar.dominio.Producto</value>
				<value>frgp.utn.edu.ar.dominio.TipoUsuario</value>
				<value>frgp.utn.edu.ar.dominio.Usuario</value>
				<value>frgp.utn.edu.ar.dominio.TipoPeriodo</value>
				<value>frgp.utn.edu.ar.dominio.Curso</value>
				<value>frgp.utn.edu.ar.dominio.TipoExamen</value>
				<value>frgp.utn.edu.ar.dominio.CursosCalificaciones</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="show_sql">true</prop >
				
				<!-- CREACION DE LA BASE -->
				<prop key="hibernate.hbm2ddl.auto">update</prop> 
			</props>
		</property>
	</bean>

	
	
</beans>